/* ==========================================================================
   BUTTONS / COMPONENTS
   ========================================================================== */

.button {
    cursor: pointer;

    background: none;
    border: none;
    outline: 4px var(--color-primary) solid;
    border-radius: 25px;

    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: var(--font-size-content);
    font-weight: 900;

    padding: 10px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease-out;

    max-width: 280px;

    &:hover {
        background: var(--color-primary);
        outline-width: 2px;
        color: var(--color-bg-primary);
        text-decoration: none;
        color: var(--color-white);
    }
}
