/* ==========================================================================
   footer / component
   ========================================================================== */

.footer {
    background-color: var(--color-bg-secondary);
    color: var(--color-white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: var(--spacing-sm);

    .footer__brand {
        font-family: var(--font-primary);
        font-size: 40px;
        font-weight: 900;
        color: var(--color-white);

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding-left: 20px;

        .icon {
            color: var(--color-primary);
        }
    }

    .barre {
        height: 2px;
        background-color: #fff;
        width: 80%;
        margin: 20px auto;
        opacity: 0.2;
    }

    nav {
        .icon {
            color: var(--color-white);
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            gap: 16px;
        }

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 24px;
            width: 24px;
        }

        li {
            background-color: #444444;
            border-radius: 360px;
            padding: 8px;
        }

        li:hover {
            background-color: var(--color-primary);
        }
    }
}
